.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrap div {
  margin: 3rem 0;
}

.ul {
  padding-left: 0;
  width: 50%;
  margin: 1rem auto;
}

.li {
  width: 6em;
  margin: 0.5em auto;
  padding: 0.5em;
  list-style: none;
  background-color: rgba(111, 150, 255, 0.83);
  border-radius: 5px;
}

.link {
  text-decoration-line: none;
  color: black;
}

.li:hover {
  transform: scale(1.01);
  background-color: rgba(85, 176, 255, 0.88);
}
